
/* ===== BlueBite Navigation ===== */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px;

    background:rgba(11,15,24,.75);
    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;

    color:#fff;
    font-size:24px;
    font-weight:700;
}

.blue{
    color:#1565ff;
}

.logo-circle{
    width:42px;
    height:42px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
    border:2px solid #1565ff;

    color:#1565ff;
    box-shadow:0 0 16px rgba(21,101,255,.45);
}

.nav-right{
    display:flex;
    align-items:center;
    gap:14px;
}

.icon-btn{
    background:none;
    border:none;

    color:#fff;
    font-size:22px;

    cursor:pointer;
    position:relative;
}

.badge{
    position:absolute;

    top:-6px;
    right:-6px;

    background:#1565ff;
    color:#fff;

    padding:2px 6px;
    border-radius:999px;

    font-size:10px;
    font-weight:700;
}

.profile{
    width:42px;
    height:42px;

    object-fit:cover;

    border-radius:50%;
    border:2px solid rgba(255,255,255,.15);
}
