*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#05070d;

font-family:"Manrope",sans-serif;

display:flex;
justify-content:center;

padding:14px;

color:white;

}

.app{

width:390px;

min-height:100vh;

background:#050912;

border-radius:34px;

overflow:hidden;

border:1px solid rgba(255,255,255,.06);

box-shadow:
0 0 40px rgba(0,90,255,.12);

}

.hero-placeholder{

height:140px;

} 
