/* ===== BlueBite Base Styles ===== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#05070d;
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  justify-content:center;
  padding:14px;
  color:white;
}

.app{
  width:390px;
  min-height:100vh;
  background:#0b0f18;
  border-radius:32px;
  overflow:hidden;
  border:1px solid rgba(255,255,255,.08);
  box-shadow:0 0 40px rgba(21,101,255,.18);
}
